<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="/adminbooking.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700,900&display=swap" rel="stylesheet">

    <title>Admin Booking</title>
</head>
<body>
  <h1>{{title}}</h1>
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Registration Number</th>
      <th scope="col">Email Address</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Slot Number</th>
    </tr>
  </thead>
  <tbody>
    {{#each adbkn}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.registrationno}}</td>
      <td>{{this.email}}</td>
      <td>{{this.date}}</td>
      <td>{{this.time}}</td>
      <td>{{this.slotno}}</td>
     <td>
        <form action="/adminbooking" method="POST">
        </form>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</body>
</html>